<a href="https://colab.research.google.com/github/MeenTers/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Fucntion

Function template
ทำหน้าที่รับ input มาประมวลผลออกมาเป็น output
f(x) = y

## def คือการกำหนด function

``` python
 def function_name(_Input_) :
    do_something with _Input_ to get _Output_
    return _Output_
```

fuction มีส่วนสำคัญ 4 ส่วน

1. บอก pythonว่าเราจะเขียนฟังก์ชัน ชื่ออะไร def function_name()
2. กำหนดตัวแปรที่จะเป็น input _Input_
3. ส่วนประมวลผล do_something with _Input to get _Output_
4. ส่วน output return _Output_

ตัวอย่างการเขียน normal function

In [ ]:
def print_name(name,surname,ID) :
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print(print_name('ธนพล','ทาโยธี','613020241-3'))

ชื่อ ธนพล นามสกุล ทาโยธี รหัส 613020241-3

In [ ]:
print(print_name(name='ธนพล',surname='ทาโยธี',ID='613020241-3'))

ชื่อ ธนพล นามสกุล ทาโยธี รหัส 613020241-3

เราใช้เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

In [ ]:
def print_name2(name,surname,ID) :
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2('ธนพล','ทาโยธี','613020241-3')

ชื่อ ธนพล นามสกุล ทาโยธี รหัส 613020241-3

ฟังก์ชันไม่จำเป็นต้องมี input

In [ ]:
def Pi() :
    return 3.14159265359

In [ ]:
Pi()*(2**2) #หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi*r^2

12.56637061436

เราสามารถกำหนดค่า default ให้กับฟังก์ชัน

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input defult จะต้องใส่ inputก่อน

In [ ]:
def print_default(name,surname,ID,grade='A') :
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)
    st2 = f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_default('ธนพล','ทาโยธี','613020241-3')

ชื่อ ธนพล นามสกุล ทาโยธี รหัส 613020241-3
เกรดวิชา Data Viz >>> A

# Loop การวนซ้ำ

for เป็นคำที่ใช้บอก pythonว่า เรากำลังเขียน loop โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process de_somethimg

คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆในตำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'This member = {i} after process = {o}')

This member = 1 after process = 1
This member = 2 after process = 4
This member = 3 after process = 9

### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> / จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค

In [ ]:
for i in 'Thanapon':
    print(f'{i} -> / ' )
    print('  ')

T -> /

h -> /

a -> /

n -> /

a -> /

p -> /

o -> /

n -> /

In [ ]:
for i in 'Thanapon':
    print(f'{i} -> / ' ,end='') #สั่งให้printไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> /

In [ ]:
for i in 'Thanapon':
    print(f'{i} -> / ' ,end=',') #สั่งให้printไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงโปร่ง [,)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

# Loop in Loop

## สามารถใช้ for loop ซ้อนกันสองรอบได้

In [ ]:
for i in range(2,5):
    print(f'now i = {i}')
    for j in range(1,13):
        print(i,' x ',j,'=',i*j)
    print(f'The inner loop is end')

now i = 2
2  x  1 = 2
2  x  2 = 4
2  x  3 = 6
2  x  4 = 8
2  x  5 = 10
2  x  6 = 12
2  x  7 = 14
2  x  8 = 16
2  x  9 = 18
2  x  10 = 20
2  x  11 = 22
2  x  12 = 24
The inner loop is end
now i = 3
3  x  1 = 3
3  x  2 = 6
3  x  3 = 9
3  x  4 = 12
3  x  5 = 15
3  x  6 = 18
3  x  7 = 21
3  x  8 = 24
3  x  9 = 27
3  x  10 = 30
3  x  11 = 33
3  x  12 = 36
The inner loop is end
now i = 4
4  x  1 = 4
4  x  2 = 8
4  x  3 = 12
4  x  4 = 16
4  x  5 = 20
4  x  6 = 24
4  x  7 = 28
4  x  8 = 32
4  x  9 = 36
4  x  10 = 40
4  x  11 = 44
4  x  12 = 48
The inner loop is end

# Loop in fucntion

In [ ]:
list_friends = ['jett','omen','cypher','reyna','killjoy']

In [ ]:
def print_feelings(I,friends,feeling ='Kill'):
    for friend in friends :
        print(f'{I} {feeling} {friend}')

In [ ]:
print_feelings('Sky',list_friends)

Sky Kill jett
Sky Kill omen
Sky Kill cypher
Sky Kill reyna
Sky Kill killjoy

# Condition คือ เงื่อนไข/ประโยคเงื่อนไข


#### if condition1 :
####   do something
#### elif condition2 : #elif คือ else if
####   do another thing
#### else :
####   do

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
        print(name1, 'Killed' , name2)

jett Killed jett
jett Killed omen
jett Killed cypher
jett Killed reyna
jett Killed killjoy
omen Killed jett
omen Killed omen
omen Killed cypher
omen Killed reyna
omen Killed killjoy
cypher Killed jett
cypher Killed omen
cypher Killed cypher
cypher Killed reyna
cypher Killed killjoy
reyna Killed jett
reyna Killed omen
reyna Killed cypher
reyna Killed reyna
reyna Killed killjoy
killjoy Killed jett
killjoy Killed omen
killjoy Killed cypher
killjoy Killed reyna
killjoy Killed killjoy

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
        if name1 != name2 :#ไม่ปริ้นชื่อเดียวกันซ้ำ
           print(name1, 'Killed' , name2,)

jett Killed omen
jett Killed cypher
jett Killed reyna
jett Killed killjoy
omen Killed jett
omen Killed cypher
omen Killed reyna
omen Killed killjoy
cypher Killed jett
cypher Killed omen
cypher Killed reyna
cypher Killed killjoy
reyna Killed jett
reyna Killed omen
reyna Killed cypher
reyna Killed killjoy
killjoy Killed jett
killjoy Killed omen
killjoy Killed cypher
killjoy Killed reyna

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
        if name1 == name2 :#ปริ้นชื่อเดียวกันซ้ำ
           print(name1, 'Killed' , name2,)

jett Killed jett
omen Killed omen
cypher Killed cypher
reyna Killed reyna
killjoy Killed killjoy

In [ ]:
for name1 in list_friends :
    for name2 in list_friends :
        if name1 == name2 :#ไม่ปริ้นชื่อเดียวกันซ้ำ
           'do nothing'
        else:
           print(name1, 'Killed' , name2,)

jett Killed omen
jett Killed cypher
jett Killed reyna
jett Killed killjoy
omen Killed jett
omen Killed cypher
omen Killed reyna
omen Killed killjoy
cypher Killed jett
cypher Killed omen
cypher Killed reyna
cypher Killed killjoy
reyna Killed jett
reyna Killed omen
reyna Killed cypher
reyna Killed killjoy
killjoy Killed jett
killjoy Killed omen
killjoy Killed cypher
killjoy Killed reyna

Condition syntex (==,!=,>=,<=,>,<)

In [ ]:
'jett' == 'omen'

False

In [ ]:
'jett' != 'omen'

True

หากหลังมีเงื่อนไข True

In [ ]:
if True :
   print('Yes')
else :
   print('No')

Yes

## HW
### เขียน function ตัดเกรด โดยที่ iputเป็นคะแนน(0-100) ,output เป็นเกรด (F-A)
### วนลูป input [1,50,65,90,101,-5,49]

In [18]:
def GPA(score) :
    if score > 100 :
       print(f'Error')
    elif score > 79 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ A')
    elif 74 < score < 79  :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ B+')
    elif 69 < score < 74  :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ B')
    elif 64 < score < 69 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ C+')
    elif 59 < score < 64 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ C')
    elif 54 < score < 59 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ D+')
    elif 44< score < 54 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ D')
    elif 0 < score <= 44 :
       print(f'คะแนนที่ได้คือ {score} เกรดที่ได้คือ F')
    elif score < 0 :
       print(f'Error')

In [16]:
list_gpa = [1,50,65,90,101,-5,49]

In [19]:
for i in list_gpa :
    GPA(i)

คะแนนที่ได้คือ 1 เกรดที่ได้คือ F
คะแนนที่ได้คือ 50 เกรดที่ได้คือ D
คะแนนที่ได้คือ 65 เกรดที่ได้คือ C+
คะแนนที่ได้คือ 90 เกรดที่ได้คือ A
Error
Error
คะแนนที่ได้คือ 49 เกรดที่ได้คือ D