<a href="https://colab.research.google.com/github/MeenTers/data_viz/blob/main/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/data_viz'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')

## Load data to memory

In [5]:
data_covid =pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [6]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.shape

(12423, 10)

## ชี้ค่าในตาราง

#### basic

In [ ]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

#### .iloc

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table Slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่ายแต่ใช้การไม่ค่อยได้

In [ ]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

##### แบบ advanced แต่ใช้ประโยชน์ได้(ตัดแบบใช้ logic query)

In [ ]:
data_covid19_KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

data_covid[*x*] *x* สามารถใส่ค่าเข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ(ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้าง โดยใช้ logical expression(```True```/```False```))

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]] #ใส่ rows ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร'] #2 บรรทัดบน บวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

HW (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)
1. คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด

2. คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

1. คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด

In [ ]:
avg_all = data_covid[['sex','age']]

In [ ]:
avg_all_w = avg_all[avg_all['sex'] == 'หญิง']
avg_all_w_age = avg_all_w[['age']]
avg_all_w_age_dp = avg_all_w_age.dropna()
avg_all_w_age_dp_v = avg_all_w_age_dp.values

In [ ]:
avg_all_m = avg_all[avg_all['sex'] == 'ชาย']
avg_all_m_age = avg_all_m[['age']]
avg_all_m_age_dp = avg_all_m_age.dropna()
avg_all_m_age_dp_v = avg_all_m_age_dp.values

In [ ]:
answerforwo_all = []
for i in avg_all_w_age_dp_v :
      data = float(i)
      answerforwo_all.append(data)

In [ ]:
answerform_all = []
for i in avg_all_m_age_dp_v :
      data = float(i)
      answerform_all.append(data)

In [ ]:
def my_mean(sample):
    return sum(sample) / len(sample)

In [ ]:
ans1_1 = my_mean(answerforwo_all)
ans1_2 = my_mean(answerform_all)

In [ ]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ {ans1_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด19 เท่ากับ {ans1_2}')

ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ 36.70788295640009
ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด19 เท่ากับ 39.55682775996335

2.คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
avg_KK = data_covid19_KK[['sex','age']]

In [ ]:
avg_KK_w = avg_KK[avg_KK['sex'] == 'หญิง']
avg_KK_w_age = avg_KK_w[['age']]
avg_KK_w_v = avg_KK_w_age.values

In [ ]:
avg_KK_m = avg_KK[avg_KK['sex'] == 'ชาย']
avg_KK_m_age = avg_KK_m[['age']]
avg_KK_m_v = avg_KK_m_age.values

In [ ]:
answerfor_wo = []
for i in avg_KK_w_v:
      data = float(i)
      answerfor_wo.append(data)

In [ ]:
answerfor_men = []
for i in avg_KK_m_v:
      data = float(i)
      answerfor_men.append(data)

In [ ]:
ans2_1 = my_mean(answerfor_wo)
ans2_2 = my_mean(answerfor_men)

In [ ]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ {ans2_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ {ans2_2}')

ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ 41.57142857142857
ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ 26.571428571428573

# เฉลยการบ้าน

In [ ]:
this_data = avg_all[avg_all['sex'] == 'หญิง']
female_all = this_data['age']

In [ ]:
sum = 0
N = 0
for a in female_all:
    if a > 0:
       sum += a # sum = sum + a
       N += 1
print(f'ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ{sum/N}')

ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ36.70788295640009

In [ ]:
female_KK = avg_KK_w['age']

In [ ]:
sum = 0
N = 0
for a in female_KK:
    if a > 0:
       sum += a # sum = sum + a
       N += 1
print(f'ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ{sum/N}')

ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ41.57142857142857

# การจัดการ Missing Value
1.   ลบ record ที่เป็น missing
2.   แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default
3. ใช้ค่าจาก column อื่นช่วยประมาณค่าใน columnที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)
missing = ```None``` ```NA```(not autorized) NaN (not )

In [7]:
this_data = data_covid[['sex','age','province_of_onset']]

In [8]:
this_data.shape

(12423, 3)

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [ ]:
this_data.dropna().shape

(8253, 3)

In [ ]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [ ]:
this_data.dropna(inplace=True) #inplace คือการให้อัปเดตตารางหรือไม่ True คืออัปเดตเลย
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [ ]:
this_data.dropna(subset=['age']).shape #subset คือการเลือกดูเฉพาะ column

(8656, 3)

### แทน missing ด้วยค่าที่เหมาะสม(```fillna```)

In [ ]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [ ]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้' , 'age':-1,'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [ ]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [ ]:
this_data_updated2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [ ]:
this_data_updated2[this_data_updated2['province_of_onset']=='ไม่รู้']

        sex   age province_of_onset
414     ชาย  29.0            ไม่รู้
529     ชาย  37.0            ไม่รู้
555    หญิง   6.0            ไม่รู้
576     ชาย   NaN            ไม่รู้
588     ชาย   NaN            ไม่รู้
...     ...   ...               ...
12405   NaN   NaN            ไม่รู้
12406   NaN   NaN            ไม่รู้
12407   NaN   NaN            ไม่รู้
12408   NaN   NaN            ไม่รู้
12409   NaN   NaN            ไม่รู้

[1991 rows x 3 columns]

การวนลูป record ในตาราง (```iterrows```)

In [10]:
this_data = data_covid[['sex','age','province_of_onset']]

In [11]:
for each_row in this_data.iterrows():
    #print(each_row)
    #print(each_row[1])
    if each_row[1]['age'] == 20 and (each_row[1]['province_of_onset']=='ขอนแก่น'):
       print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูป แบบมองตาราง pandas dataframe เป็น numpy array (```.iloc```)

In [40]:
this_data1 = data_covid[['sex','age','announce_date','province_of_onset']]

In [41]:
this_data1.head()

    sex   age announce_date province_of_onset
0  หญิง  61.0     1/12/2020     กรุงเทพมหานคร
1  หญิง  74.0     1/17/2020     กรุงเทพมหานคร
2  หญิง  73.0     1/22/2020            นครปฐม
3   ชาย  68.0     1/22/2020     กรุงเทพมหานคร
4  หญิง  66.0     1/24/2020     กรุงเทพมหานคร

In [38]:
for each_row in range(this_data1.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2]== 'ขอนแก่น'):
       print(this_data.iloc[each_row,:])

sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

In [61]:
for each_row in range(this_data1.shape[0]):
    #print(this_data1.iloc[each_row,2]
    if (this_data1.iloc[each_row,2] == '1/1/2021' ) :
       print(this_data1.iloc[6884:,:])

        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]
        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]

In [64]:
S = this_data1.iloc[6884:,:]
S

        sex   age announce_date province_of_onset
6884   หญิง  40.0      1/1/2021          ปทุมธานี
6885   หญิง  21.0      1/1/2021          ปทุมธานี
6886   หญิง  20.0      1/1/2021            นครปฐม
6887   หญิง  47.0      1/1/2021            นครปฐม
6888   หญิง  36.0      1/1/2021     กรุงเทพมหานคร
...     ...   ...           ...               ...
12418  หญิง  28.0     1/18/2021       สมุทรปราการ
12419  หญิง  27.0     1/18/2021       สมุทรปราการ
12420   ชาย  10.0     1/18/2021            ชลบุรี
12421   ชาย  52.0     1/18/2021            ชลบุรี
12422   ชาย  51.0     1/18/2021             ระยอง

[5539 rows x 4 columns]

# เฉลยQUIZ

In [67]:
TF = list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
       TF.append(True)
    else:
       TF.append(False)
data_covid[TF].head()

       No.  ...                                               risk
6884  6885  ...                                  Cluster สมุทรสาคร
6885  6886  ...                                      Cluster ระยอง
6886  6887  ...                                        สถานบันเทิง
6887  6888  ...                                  Cluster สมุทรสาคร
6888  6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณสถิติของข้อมูลโดยไม่สนใจ missing

In [68]:
data_covid.describe()

                No.          age
count  12423.000000  8656.000000
mean    6212.000000    38.143856
std     3586.355532    15.201953
min        1.000000     0.100000
25%     3106.500000    27.000000
50%     6212.000000    36.000000
75%     9317.500000    49.000000
max    12423.000000    97.000000

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [70]:
data_covid[data_covid['sex']=='ชาย'].mean()

No.    5422.647557
age      39.556828
dtype: float64

In [71]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

# next
* .describe
* .mean