<a href="https://colab.research.google.com/github/MeenTers/data_viz/blob/main/pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/data_viz'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')

## Load data to memory

In [5]:
data_covid =pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [6]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [7]:
data_covid.shape

(12423, 10)

## ชี้ค่าในตาราง

#### basic

In [8]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [9]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

#### .iloc

In [10]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table Slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [33]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่ายแต่ใช้การไม่ค่อยได้

In [34]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

##### แบบ advanced แต่ใช้ประโยชน์ได้(ตัดแบบใช้ logic query)

In [35]:
data_covid19_KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']

data_covid[*x*] *x* สามารถใส่ค่าเข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ(ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้าง โดยใช้ logical expression(```True```/```False```))

In [36]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [37]:
eight_rows_covid[[True,False,True,True,False,True,False,False]] #ใส่ rows ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [38]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [39]:
eight_rows_covid[eight_rows_covid['province_of_onset']=='กรุงเทพมหานคร'] #2 บรรทัดบน บวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

HW (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)
1. คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด

2. คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

1. คำนวณ อายุเฉลี่ย ของผู้หญิงและผู้ชาย ของข้อมูลทั้งหมด

In [40]:
avg_all = data_covid[['sex','age']]

In [41]:
avg_all_w = avg_all[avg_all['sex'] == 'หญิง']
avg_all_w_age = avg_all_w[['age']]
avg_all_w_age_dp = avg_all_w_age.dropna()
avg_all_w_age_dp_v = avg_all_w_age_dp.values

In [42]:
avg_all_m = avg_all[avg_all['sex'] == 'ชาย']
avg_all_m_age = avg_all_m[['age']]
avg_all_m_age_dp = avg_all_m_age.dropna()
avg_all_m_age_dp_v = avg_all_m_age_dp.values

In [43]:
answerforwo_all = []
for i in avg_all_w_age_dp_v :
      data = float(i)
      answerforwo_all.append(data)

In [44]:
answerform_all = []
for i in avg_all_m_age_dp_v :
      data = float(i)
      answerform_all.append(data)

In [45]:
def my_mean(sample):
    return sum(sample) / len(sample)

In [46]:
ans1_1 = my_mean(answerforwo_all)
ans1_2 = my_mean(answerform_all)

In [47]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ {ans1_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด19 เท่ากับ {ans1_2}')

ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ 36.70788295640009
ค่าอายุเฉลี่ยของเพศชายทั่วประเทศที่ติดโควิด19 เท่ากับ 39.55682775996335

2.คำนวณ อายุเฉลี่ยของผู้ป่วยในจังหวัดขอนแก่น

In [48]:
avg_KK = data_covid19_KK[['sex','age']]

In [49]:
avg_KK_w = avg_KK[avg_KK['sex'] == 'หญิง']
avg_KK_w_age = avg_KK_w[['age']]
avg_KK_w_v = avg_KK_w_age.values

In [50]:
avg_KK_m = avg_KK[avg_KK['sex'] == 'ชาย']
avg_KK_m_age = avg_KK_m[['age']]
avg_KK_m_v = avg_KK_m_age.values

In [51]:
answerfor_wo = []
for i in avg_KK_w_v:
      data = float(i)
      answerfor_wo.append(data)

In [52]:
answerfor_men = []
for i in avg_KK_m_v:
      data = float(i)
      answerfor_men.append(data)

In [53]:
ans2_1 = my_mean(answerfor_wo)
ans2_2 = my_mean(answerfor_men)

In [54]:
print(f'ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ {ans2_1}')
print(f'ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ {ans2_2}')

ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ 41.57142857142857
ค่าอายุเฉลี่ยของเพศชายจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ 26.571428571428573

# เฉลยการบ้าน

In [63]:
this_data = avg_all[avg_all['sex'] == 'หญิง']
female_all = this_data['age']

In [68]:
sum = 0
N = 0
for a in female_all:
    if a > 0:
       sum += a # sum = sum + a
       N += 1
print(f'ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ{sum/N}')

ค่าอายุเฉลี่ยของเพศหญิงทั่วประเทศที่ติดโควิด19 เท่ากับ36.70788295640009

In [70]:
female_KK = avg_KK_w['age']

In [67]:
sum = 0
N = 0
for a in female_KK:
    if a > 0:
       sum += a # sum = sum + a
       N += 1
print(f'ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ{sum/N}')

ค่าอายุเฉลี่ยของเพศหญิงจังหวัดขอนแก่นที่ติดโควิด19 เท่ากับ41.57142857142857

# การจัดการ Missing Value
1.   ลบ record ที่เป็น missing
2.   แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default
3. ใช้ค่าจาก column อื่นช่วยประมาณค่าใน columnที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)
missing = ```None``` ```NA```(not autorized) NaN (not )

In [69]:
this_data = data_covid[['sex','age','province_of_onset']]

In [71]:
this_data.shape

(12423, 3)

In [72]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [73]:
this_data.dropna().shape

(8253, 3)

In [74]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [76]:
this_data.dropna(inplace=True) #inplace คือการให้อัปเดตตารางหรือไม่ True คืออัปเดตเลย
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [79]:
this_data.dropna(subset=['age']).shape #subset คือการเลือกดูเฉพาะ column

(8656, 3)

### แทน missing ด้วยค่าที่เหมาะสม(```fillna```)

In [81]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [86]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [88]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้' , 'age':-1,'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [89]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [91]:
this_data_updated2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [92]:
this_data_updated2[this_data_updated2['province_of_onset']=='ไม่รู้']

        sex   age province_of_onset
414     ชาย  29.0            ไม่รู้
529     ชาย  37.0            ไม่รู้
555    หญิง   6.0            ไม่รู้
576     ชาย   NaN            ไม่รู้
588     ชาย   NaN            ไม่รู้
...     ...   ...               ...
12405   NaN   NaN            ไม่รู้
12406   NaN   NaN            ไม่รู้
12407   NaN   NaN            ไม่รู้
12408   NaN   NaN            ไม่รู้
12409   NaN   NaN            ไม่รู้

[1991 rows x 3 columns]

การวนลูป record ในตาราง (```iterrows```)

In [96]:
for each_row in this_data.iterrows():
    #print(each_row)
    #print(each_row[1])
    if each_row[1]['age'] == 20 and (each_row[1]['province_of_onset']=='ขอนแก่น'):
       print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)