<a href="https://colab.research.google.com/github/MeenTers/data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/data_viz'

In [6]:
province_path = os.path.join(path,'3.-41-58.xls')

In [7]:
province_df = pd.read_excel(province_path)
province_df

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...          Unnamed: 12
0   Average Monthly Income Per Household: 1998 - 2015                        ...                  NaN
1                                                 NaN                        ...         บาท   Baht
2                                      ภาค และจังหวัด                        ...  Region and province
3                                                 NaN                        ...                  NaN
4                                                 NaN                        ...                  NaN
..                                                ...                        ...                  ...
87                                           นราธิวาส                        ...           Narathiwat
88                                                NaN                        ...                  NaN
89                                                NaN                        ...                  NaN
90                                             ที่มา:                        ...                  NaN
91                                            Source:                        ...                  NaN

[92 rows x 13 columns]

In [31]:
a = province_df.drop([0,1,3,4,5,6,11,34,52,88,73,89,90,91])

In [32]:
a.drop(columns=['Unnamed: 1'])

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...          Unnamed: 12
2                                      ภาค และจังหวัด                        ...  Region and province
7                                       กรุงเทพมหานคร                        ...              Bangkok
8                                         สมุทรปราการ                        ...         Samut Prakan
9                                             นนทบุรี                        ...           Nonthaburi
10                                           ปทุมธานี                        ...         Pathum Thani
..                                                ...                        ...                  ...
83                                               ตรัง                        ...                Trang
84                                             พัทลุง                        ...           Phattalung
85                                            ปัตตานี                        ...              Pattani
86                                               ยะลา                        ...                 Yala
87                                           นราธิวาส                        ...           Narathiwat

[78 rows x 12 columns]