<a href="https://colab.research.google.com/github/MeenTers/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เอาไว้ก่อน

In [2]:
import pandas as pd
import os
from datetime import datetime as dt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
path = '/content/drive/My Drive/DWDM_material'

In [23]:
data = pd.read_csv(os.path.join(path,'search_click.csv'),encoding='latin1')
data

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

In [49]:
Q5_10 = data[data['click_timestamp']>='10:00.0']
Q5_moning = Q5_10[Q5_10['click_timestamp'] <= '11:00.0']
Q5_moning.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14

# Quizเล็กน้อย

In [53]:
path1 = '/content/drive/My Drive/data_viz'

In [54]:
df = pd.read_csv(os.path.join(path1,'example_timestamp.csv'))
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [70]:
df_be = df[df['Unnamed: 0'] < '2020-06-02']
be = df_be[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ชองก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ชองก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ

In [71]:
df_at = df[df['Unnamed: 0'] >= '2020-06-02']
at = df_at[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ตั้งงแต่วันที่ 2 มิถุนายน 2563 เท่ากับ 13.72 และ 57 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ตั้งงแต่วันที่ 2 มิถุนายน 2563 เท่ากับ 13.72 และ 57 ตามลำดับ

In [72]:
at > be

alpha    False
beta     False
dtype: bool

แสดงว่าช่วง ก่อนวันที่ 2 มิถุนายน 2563 มีผลรวมของค่า alpha และ beta มากกว่า ช่วงตั้งแต่วันที่ 2 มิถุนายน 2563

In [73]:
df1 = pd.read_csv(os.path.join(path1,'example_timestamp_02.csv'))
df1

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [82]:
df_be1 = df1[df1['Unnamed: 0'] < '02-06-2020']
be1 = df_be[['alpha','beta']].sum()
print(f' ผลรวมของค่า alpha และ ค่า beta ชองก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ')

 ผลรวมของค่า alpha และ ค่า beta ชองก่อนวันที่ 2 มิถุนายน 2563 เท่ากับ 24.16 และ 102 ตามลำดับ

In [83]:
df_be1

   Unnamed: 0  alpha  beta
3  01-06-2020   1.94    28

In [80]:
df_at1 = df1[df1['Unnamed: 0'] >= '02-06-2020']
df_at1[['alpha','beta']].sum()

#print(f' ผลรวมของค่า alpha และ ค่า beta ตั้งงแต่วันที่ 2 มิถุนายน 2563 เท่ากับ 13.72 และ 57 ตามลำดับ')

alpha     37.88
beta     159.00
dtype: float64

In [85]:
df_at1

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [76]:
at1 > be1

alpha    False
beta     False
dtype: bool