<a href="https://colab.research.google.com/github/MeenTers/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เอาไว้ก่อน

In [2]:
import pandas as pd
import os
from datetime import datetime as dt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
path = '/content/drive/My Drive/DWDM_material'

In [23]:
data = pd.read_csv(os.path.join(path,'search_click.csv'),encoding='latin1')
data

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

In [49]:
Q5_10 = data[data['click_timestamp']>='10:00.0']
Q5_moning = Q5_10[Q5_10['click_timestamp'] <= '11:00.0']
Q5_moning.mean()
print(f'ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14 ')

ช่วงเวลา10.00 น. ถึง 11.00น. มีการใช้เวลาคลิกเฉลี่ย 7.694756e+14

# Quizเล็กน้อย

In [53]:
path1 = '/content/drive/My Drive/data_viz'

In [54]:
df = pd.read_csv(os.path.join(path1,'example_timestamp.csv'))
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [88]:
df['Unnamed: 0'] = pd.to_datetime(df['Unnamed: 0'],format='%Y-%m-%d') #เปลี่ยนจาก Str เป็น Datetime
df

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [87]:
df.iloc[0,0]

Timestamp('2020-05-29 00:00:00')

In [94]:
before = df[df['Unnamed: 0']< dt(day=2,month=6,year=2020)].sum()

In [95]:
after = df[df['Unnamed: 0']>= dt(day=2,month=6,year=2020)].sum()

In [97]:
print(f"ค่าผลรวมของค่า alpha ของก่อนวันที่ 2 มิ.ย. 2020 คือ {before['alpha']:2.2f} และผลรวมของค่า beta คือ {before['beta']:2.2f}")

ค่าผลรวมของค่า alpha ของก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16 และผลรวมของค่า beta คือ 102.00

In [98]:
print(f"ค่าผลรวมของค่า alpha ของตั้งแต่วันที่ 2 มิ.ย. 2020 คือ {after['alpha']:2.2f} และผลรวมของค่า beta คือ {after['beta']:2.2f}")

ค่าผลรวมของค่า alpha ของตั้งแต่วันที่ 2 มิ.ย. 2020 คือ 13.72 และผลรวมของค่า beta คือ 57.00